
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: 'Montserrat';
    border: none;
}

body{
    overflow-x: hidden; 
}
:root{
    --bg-color: #fff;
    --bg-color-header: #307CFF;
    --text-color: #171427;
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
.header_1{
    height: 50px;
    background-color: #307CFF;
}
.header_2{
    height: 81px;
    box-shadow: inset 0px -1px 0px #F2F2F2;
}
.header p{
    color: var(--bg-color);
}
.header_1 .nav__links li,i{
    color: var(--bg-color);
}
.nav__links li{
    display: inline-block;
    align-items: center;
    transition: all 0.3s ease 0s;
}
.header_2 .nav__links li a{
    font-weight: 300;
}

.nav__links li:hover{
    cursor: pointer;
}

.header_1 .nav__links li{
    padding-left: 50px;
}
.nav__links button{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    background-color: var(--bg-color);
}
.nav__links button:hover{
    background-color: rgba(255, 255, 255, 0.8);
}
.header_2 .nav__links li{
    padding-left: 30px;
}
/* Title */
.title{
    display: block;
    padding: 150px 10%;
    height: 900px;
    background: linear-gradient(90deg, #FFFFFF 32.38%, rgba(255, 255, 255, 0) 56.11%),
    url(/Smart-Home-Ventilations-Solutions/img/Bg_1.png),
    #FFFFFF;
    background-size:100%;
    background-repeat: no-repeat;
}
.title h1{
    width: 750px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 50px;    
}
.title p{
    width: 650px;
    margin-top:30px;
    font-weight: 300;
    font-size: 20px;
}
.title button{
    margin-top:30px;
    padding: 16px 32px;
    border-radius: 62px;
    font-size: 20px;
    color: var(--bg-color);
    background-color: #70b64d;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}
.title button:hover{
    background-color: rgba(112, 182, 77, 0.5);
}

/* Main */




/* --------------SLIDE------------- */
.slite_container{
    padding-left: 10%;
}
.slite_container .slide_title{
    display: flex;
    justify-content: space-between;
}
.slite_container .slide_title p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 44px;
}

.slite_container .next,.back{
    background-color: var(--bg-color);
    font-size: 30px;
    border: none;
}
.next i{
    color: var(--text-color);
}
.back i{
    color: var(--text-color);
}
.bar{
    content: "";
    width: 80px;
    height: 4px;    
    background-color: #70B64D;
    margin-bottom: 18px;
}
.current-slide{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

}
.slide_title-item{
    display: flex;
    padding-right: 10%;
    align-items: center;
}
.slide_title-item span{
    font-size: 25px;
}
.slide_title-item sub{
    font-weight: 300;
    padding-left: 10px;
    font-size: 20px;
    opacity: 0.5;
}
.slide_title-item button i{
    align-items: center;
    font-size: 35px;
    padding-top: 10px;
    cursor: pointer;
}
.slite-content{ 
    display: flex;
    width: 500%;
    height: 700px;
    margin-top: 80px;
}
.card-wrapper{
    width: 900px;
    height: 700px;
    box-shadow: inset 0px -1px 1px #F2F2F2;
    background-color: #FBFBFB;
    border-radius: 10px;
    margin-left: 20px;
}
.card-wrapper .item-img img{
    width: 100%;
    height: auto;
    margin-bottom: 60px;
}

.slite-content .card-wrapper .item-content{
    padding: 0 65px 60px 65px;
}
.slite-content .card-wrapper .item-content .item_1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    margin-bottom: 18px;
}

.slite-content .card-wrapper .item-content .item_2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
}

/* --------------QUESTION------------- */

.question_container{
    padding: 10%;
    width: 100%;
}
.question_container-item{
    height: auto;
    display: flex;
    flex-direction: column;/* cài đặt khối theo chiều dọc */
    align-items: center; /* Căn giữa item */
    text-align: center;/* căn giữa text */
}
.question_title h1{
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 16px;
}
.question_title p{
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
}


/* question */
.question{
    width: 100%;
    height: auto;
    margin-top: 80px;
    background-color: #FBFBFB;
    padding-bottom: 60px;
    border-radius: 15px;
    background-image: url(/Smart-Home-Ventilations-Solutions/img/Question1Human.png), url(/Smart-Home-Ventilations-Solutions/img/Question.png);
    background-repeat: no-repeat;
    background-position-y:bottom;
    background-size: 200px;
    background-position: left 20px bottom 20px, right 20px top 20px;
}
.all{
    padding-top: 50px;
}
.title_question{
    font-style: normal;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 25px;    
}
.question_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.question_button .back_qs,.next_qs{
    background-color: #FBFBFB;
    font-size: 20px;
}
.question_button button i{
    align-items: center;
    font-size: 35px;
    padding-top: 10px;
    cursor: pointer;
    color: var(--text-color);
}

.question_button span,sub{
    font-size: 25px;  
}

.question_button sub{
    font-size: 23px;
    opacity: 0.4;  
}
.question_reply .relly_yes,.relly_no{
    padding: 20px 36px;
    margin: 20px;
    background-color: #70B64D;
    color: var(--bg-color);
    border-radius: 30px;
    transition: all 0.3s ease 0s;
}

.question_reply .relly_yes:hover{
    background-color: rgba(112, 182, 77, 0.5);
    cursor: pointer;
}
.question_reply .relly_no:hover{
    background-color: rgba(112, 182, 77, 0.5);
    cursor: pointer;
}
/* <!-- Question - 4--> */

.question_content{
    width: 100%;
    height: 700px;
    margin-top: 80px;
    background-color: #FBFBFB;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid: 10px;
    padding: 60px;
    background-image: url(/Smart-Home-Ventilations-Solutions/img/gummy-gaming-mouse1.png);
    background-position: right 45px top;
    background-repeat: no-repeat;
    background-size: 60px;
    /* display: flex;
    text-align: justify;
    padding: 60px;
    justify-content: space-between; */
}
.img_qs,.qs_content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: justify;
}
.img_qs .comback{
    background-color: #FBFBFB;
    font-size: 30px;
    font-weight: 300;
    opacity: 0.7;
    padding-bottom: 55px;
    cursor: pointer;
}
.img_qs .comback i {
    color: var(--text-color);
    opacity: 0.5;
}
.img_qs img{
    width: 600px;
    height: auto;
}

.qs_content{
    padding-top: 50px;
}

.qs_content #one{
    font-weight: 500;
    font-size: 20px;
    padding: 5px 0;
    color: #70B64D;
}
.qs_content #two{
    font-size: 40px;
    font-weight: 700;    
    padding-bottom: 20px;
}
.qs_content #there{
    width: 450px;
    letter-spacing: -1px;
    line-height: 150%;
    font-weight: 400;
    font-size: 18px;
    opacity: 0.7;
    padding-bottom: 10px;
}
.qs_content #four{
    letter-spacing: -1px;
    line-height: 150%;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    padding: 10px 0 30px 0;
}
.qs_content #four strong{
    font-size: 18px;
    font-weight: 700;
    opacity: 1;
    color: #558d39;
}
.qs_content .accept_button{
    padding: 20px 36px;
    border-radius: 30px;
    background-color: #70B64D;
    color: var(--bg-color);
    font-size: 20px;
}
.qs_content .accept_button:hover{
    background-color: rgba(112, 182, 77, 0.5);
    cursor: pointer;
}