
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: 'Montserrat';
    border: none;
}

body{
    width: 100%;
    height: auto    ;
    overflow-x: hidden; 
}
:root{
    --bg-color: #fff;
    --bg-color-header: #307CFF;
    --text-color: #171427;
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
.header_1{
    height: 50px;
    background-color: #307CFF;
}
.header_2{
    height: 81px;
    box-shadow: inset 0px -1px 0px #F2F2F2;
}
.header p{
    color: var(--bg-color);
}
.header_1 .nav__links li,i{
    color: var(--bg-color);
}
.nav__links li{
    display: inline-block;
    align-items: center;
    transition: all 0.3s ease 0s;
}
.header_2 .nav__links li a{
    font-weight: 300;
}

.nav__links li:hover{
    cursor: pointer;
}

.header_1 .nav__links li{
    padding-left: 3.3rem;
}
.nav__links button{
    padding: 10px 20px;
    border-radius: 10px;
    /* font-size: 1.5rem */
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Mon   tserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    background-color: var(--bg-color);
}
.nav__links button:hover{
    background-color: rgba(255, 255, 255, 0.8);
}
.header_2 .nav__links li{
    padding-left: 2rem; 
}


/* header - 3 */
.header_3-all{
    position: relative;
    width: 100%;
    display: flex;
    height: 3rem;
}
.header_3-all .header_3{
    padding: 0 1rem;
    display: flex;
    width: 100%;;
    justify-content: space-between;
}

.item_header_3{
    position: absolute;
    right: 0rem;
    top: 3rem;
    /* bottom: 0; */
}
.nav__links_3{
    display: none;
    width: 12rem;
    height: auto;
    background-color: var(--bg-color);
    text-align: center;
    border-radius: 5px;
}
.nav__links_3 li{
    display: block;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.nav__links_3 li:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
#open-menu, #close-menu{
    font-size: 2.5rem;
    background-color: var(--bg-color);
}

#open-menu{
    display: block;
}
#close-menu{
    display: none;
}


 @media screen and (max-width: 1374px) {
    .header_2 {
      display: none;
    }
    .header_1{
        display: none;
    }

}
/* @media screen and (min-width: 1374px) {
    .header_3-all{
        display: none;
    }
}  */





/* Title */
.title{
    display: block;
    padding: 150px 10%;
    height: 900px;
    background: linear-gradient(90deg, #FFFFFF 32.38%, rgba(255, 255, 255, 0) 56.11%),
    url(/Smart-Home-Ventilations-Solutions/img/Bg_1.png),
    #FFFFFF;
    background-size:100%;
    background-repeat: no-repeat;
}
.title h1{
    width: 750px;
    margin-top: 2rem;
    font-weight: 700;
    font-size: 3.3rem;    
}
.title p{
    width: 650px;
    margin-top:30px;
    font-weight: 300;
    font-size: 20px;
}
.title button{
    margin-top:30px;
    padding: 16px 32px;
    border-radius: 62px;
    font-size: 20px;
    color: var(--bg-color);
    background-color: #70b64d;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}
.title button:hover{
    background-color: rgba(112, 182, 77, 0.5);
}
#btn_2{
    display: none;
}

@media screen and (max-width: 400px) {
    .title{
        height: auto;
    }
    .title h1{
        width: 100%;
        margin-top: 2rem;
        font-weight: 700;
        font-size: 1.7rem;    
    }
    .title p{
        width: 100%;
        margin-top:30px;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    #btn_1{
        display: none;
    }
    #btn_2{
        display: block;
    }
}

/* Main */




/* --------------SLIDE------------- */
.slite_container{
    padding-left: 10%;
}
.slite_container .slide_title{
    display: flex;
    justify-content: space-between;
}
.slite_container .slide_title p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 44px;
}

.slite_container .next,.back{
    background-color: var(--bg-color);
    font-size: 30px;
    border: none;
}
.next i{
    color: var(--text-color);
}
.back i{
    color: var(--text-color);
}
.bar{
    content: "";
    width: 80px;
    height: 4px;    
    background-color: #70B64D;
    margin-bottom: 18px;
}
.current-slide{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

}
.slide_title-item{  
    display: flex;
    padding-right: 10%;
    align-items: center;
}
.slide_title-item span{
    font-size: 25px;
}
.slide_title-item sub{
    font-weight: 300;
    padding-left: 10px;
    font-size: 20px;
    opacity: 0.5;
}
.slide_title-item button i{
    align-items: center;
    font-size: 35px;
    padding-top: 10px;
    cursor: pointer;
}
.slite-content{ 
    display: flex;
    width: 500%;
    height: 700px;
    margin-top: 80px;
}

.card-wrapper{
    width: 900px;
    height: 700px;
    box-shadow: inset 0px -1px 1px #F2F2F2;
    background-color: #FBFBFB;
    border-radius: 10px;
    margin-left: 20px;
}
.card-wrapper .item-img img{
    width: 100%;
    height: auto;
    margin-bottom: 60px;
}
.slite-content .card-wrapper .item-content{
    padding: 0 65px 60px 65px;
}
.slite-content .card-wrapper .item-content .item_1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    margin-bottom: 18px;
}

.slite-content .card-wrapper .item-content .item_2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
}
#item_2-2{
    display: none;
}

@media screen and (max-width: 400px){
    .slite_container .slide_title p{
        font-size: 1.7rem;
        line-height: 2rem;
    }
    .slide_title{
        flex-direction: column;
    }

    .slite-content{
        margin-top: 3rem;
        width: 115rem;
        height: auto;
    }
    .card-wrapper{
        width: 300px;
        height: 300px;
    }
    .card-wrapper .item-img img{
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
    .slite-content .card-wrapper .item-content{
        padding: 0 0 1.5rem 2rem;
        width: 220px;
    }
    .slite-content .card-wrapper .item-content #item_2-2{
        display: block;
        font-size: 0.7rem;
        line-height: 1.2rem;
    }
    .slite-content .card-wrapper .item-content .item_1{
        font-weight: 700;
        font-size: 1rem;
        line-height: 24px;
        /* margin-bottom: 18px; */
    }

    #item_2-1{
        display: none;
    }
    
}
/* --------------QUESTION------------- */

.question_container{
    padding: 10%;
    width: 100%;
}
.question_container-item{
    /* height: auto;
    display: flex;
    flex-direction: column;/* cài đặt khối theo chiều dọc */

    align-items: center; /* Căn giữa item */
    text-align: center;/* căn giữa text */
} */
.question_title h1{
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 16px;
}
.question_title p{
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
}
      
.question_container-item .bar{
    display: inline-flex;
    text-align: center;
    flex-direction: column;
}
@media screen and (max-width: 400px) {
    .question_container{
        padding: 0;
        width: 100%;
    }
    .question_title h1{
        font-size: 1.5rem;
    }
    .bar{
        width: 2.2rem;
        border: 2px;
        border-radius: 7px;
    }
    .question_title p{
        display: none;
    }
}
/* question */
.question{
    /* width: 92rem;  */
    height: 384px;
    margin-top: 80px;
    background-color: #FBFBFB;
    padding-bottom: 60px;
    border-radius: 15px;
    background-image: url(/Smart-Home-Ventilations-Solutions/img/Question1Human.png), url(/Smart-Home-Ventilations-Solutions/img/Question.png);
    background-repeat: no-repeat;
    background-position-y:bottom;
    background-size: 200px;
    background-position: left 20px bottom 20px, right 20px top 20px;
}
@media screen and (max-width: 400px){
    .question{
        background-size: 4.5rem;
        background-position: left 0.6rem bottom 0.6rem, right 0.6rem top 0.6rem;
    }
}
.all{
    padding-top: 50px;
}
.title_question{
    font-style: normal;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 25px;    
}
.question_button {
    display: flex;
    /* overflow-x: hidden; */
    justify-content: center;
    align-items: center;
    text-align: center;
}
.question_button .back_qs,.next_qs{
    background-color: #FBFBFB;
    font-size: 20px;
}
.question_button button i{
    align-items: center;
    font-size: 35px;
    padding-top: 10px;
    cursor: pointer;
    color: var(--text-color);
}

.question_button span,sub{
    font-size: 25px;  
}

/* cách 1 */
.roll_question{
    /* display: inline-flex; */
    /* overflow-x: hidden; */
    /* width: 500%; */
}
.question_item{
    /* margin-left: 25px; */
    /* width: 1500px; */
}

.question_button sub{
    font-size: 23px;
    opacity: 0.4;  
}
.question_reply .reply_yes,.reply_no{
    padding: 20px 36px;
    margin: 20px;
    background-color: #70B64D;
    color: var(--bg-color);
    border-radius: 30px;
    transition: all 0.3s ease 0s;
}

.question_reply .reply_yes:hover{
    background-color: rgba(112, 182, 77, 0.5);
    cursor: pointer;
}
.question_reply .reply_no:hover{
    background-color: rgba(112, 182, 77, 0.5);
    cursor: pointer;
}
@media screen and (max-width: 400px){
    .question{
        background-size: 4.5rem;
        background-position: left 0.6rem bottom 0.6rem, right 0.6rem top 0.6rem;
    }
    .question_reply{
        padding: 1rem;
    }
    .title_question{
        padding: 0 20%;
        margin-top: 10px;
        font-size: 1.5rem;
    }
}

/* <!-- Question - 4--> */

.question_content{
    /* width: 1500px; */
    height: 700px;
    margin-top: 80px;
    background-color: #FBFBFB;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid: 10px;
    padding: 60px;
    background-image: url(/Smart-Home-Ventilations-Solutions/img/gummy-gaming-mouse1.png);
    background-position: right 45px top;
    background-repeat: no-repeat;
    background-size: 60px;
}
.img_qs,.qs_content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: justify;
}
.img_qs .comback{
    background-color: #FBFBFB;
    font-size: 30px;
    font-weight: 300;
    opacity: 0.7;
    padding-bottom: 55px;
    cursor: pointer;
}
.img_qs .comback i {
    color: var(--text-color);
    opacity: 0.5;
}
.img_qs img{
    width: 600px;
    height: auto;
}

.qs_content{
    padding-top: 50px;
}

.qs_content #one{
    font-weight: 500;
    font-size: 20px;
    padding: 5px 0;
    color: #70B64D;
}
.qs_content #two{
    font-size: 40px;
    font-weight: 700;    
    padding-bottom: 20px;
}
.qs_content #there{
    width: 450px;
    letter-spacing: -1px;
    line-height: 150%;
    font-weight: 400;
    font-size: 18px;
    opacity: 0.7;
    padding-bottom: 10px;
}
.qs_content #four{
    letter-spacing: -1px;
    line-height: 150%;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    padding: 10px 0 30px 0;
}
.qs_content #four strong{
    font-size: 18px;
    font-weight: 700;
    opacity: 1;
    color: #558d39;
}
.qs_content .accept_button{
    padding: 20px 36px;
    border-radius: 30px;
    background-color: #70B64D;
    color: var(--bg-color);
    font-size: 20px;
}
.qs_content .accept_button:hover{
    background-color: rgba(112, 182, 77, 0.5);
    cursor: pointer;
}

@media screen and (max-width: 400px){
    .question{
        background-size: 4.5rem;
        background-position: left 0.6rem bottom 0.6rem, right 0.6rem top 0.6rem;
    }
    .question_reply{
        padding: 10px;
    }
    .title_question{
        padding: 0 20%;
        margin-top: 10px;
        font-size: 1.5rem;
    }
    .question_content{
        height: auto;
        padding: 0 10px;
        background-size: 1.5rem;
        background-position: right 1.5rem top;
        margin-top: 3rem;
        padding-bottom: 1rem;
    }   
    .img_qs .comback{
        font-size: 1rem;
        padding-bottom: 2rem;
    }
    .img_qs img{
        width: 80%;
        height: auto;
    }
    .qs_content #one{
        font-size: 0.5rem;
        padding: 5px 0;
    }
    .qs_content #two{
        font-size: 1rem;
        font-weight: 700;    
        padding-bottom: 0.5rem;
    }
    .qs_content #there{
        width: 100%;
        line-height: 1rem;
        font-weight: 400;
        font-size: 0.7rem;
        opacity: 0.7;
    }
    .qs_content #four{
        letter-spacing: normal;
        line-height: 150%;
        font-weight: 400;
        font-size: 0.5rem;
        opacity: 0.7;
        padding: 7px 0 22px 0;
    }
    .qs_content #four strong{
        font-size: 0.7rem;
    }
    .qs_content .accept_button{
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        font-size: 0.6rem;
    }
}


/* ------------------FORFILE----------------- */
.forfile{
    padding:0 25%;
    width: 100%;
    height: 1000px;
}
.forfile .bar{
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.forfile_sologan{
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}
.forfile_sologan h1{
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
}


.forfile_sologan p{
    font-weight: 500;
    font-size: 18px;
    opacity: 0.8;
    line-height: 150%;
}
.input_field{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.input_field .input{
    width: 455px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #DFE4EA;
}
.forfile_sologan #title_2{
    display: none;
}

.input_field label{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 13px;
}

.frofile_Tab{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(460px,auto)); */
    grid-template-columns: 50% 50%;
    padding-top: 70px;
    gap: 12px;
    justify-self: center;
}
input,.input,textarea{
    padding-left: 20px;
    opacity: 0.8;
    font-size: 20px;
}
textarea{
    resize:none;
    padding-top: 15px;
}
.input_field .comments{
    width: 940px;
    height: 160px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #DFE4EA;
}

.input_{
    display: flex;
    align-items: center;
}
.input_ .input_label{
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.5;
}
.input_ #input_{
    width: 15px;
    height: 15px;
    border-radius: 2px;
}

input[type="checkbox"] + label {
    display: block;
}

input[type="checkbox"]{
    display: none;
    /* appearance: none; */
}

input[type="checkbox"] + label::before{
    display: flex;
    align-items: center;
    content: "\2714";
    margin-right: 10px;
    border: 2px solid #000;
    border-radius: 4px;
    display: inline-block;
    width: 16px;
    height: 16px;
    padding-left: 4px;
    padding-bottom: 5px;
    vertical-align: bottom;
    color: transparent;
}

input[type="checkbox"]:checked + label::before{
    background-color: #44a812;
    color: var(--bg-color); 
    border-color: #44a812;  
}
.button_send .send{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    margin-top: 40px;
    font-size: 25px;
    background-color: #70B64D;
    color: var(--bg-color);
}

.send:hover{
    background-color: rgba(112, 182, 77, 0.8);
    cursor: pointer;
}

@media screen and (max-width: 400px){
    .forfile{
        height: auto;
        padding:0 5%;
    }
    .forfile .bar{
        width: 70px;
        display: flex;
        justify-content: flex-start;
    }
    .forfile_sologan{
        width: 85%;
        display: inline-block;
        text-align: start;
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .forfile_sologan h1{
        margin-bottom: 22px;
        font-weight: 700;
        font-size: 1.3rem;
    }
    .forfile_sologan #title_2{
        display: block;
        font-size: 0.7rem;
    }
    .forfile_sologan #title_1{
        display: none;
    }
    .input_field .input{
        width: 100%;
        height: 60px;
        font-size: 20px;
        border-radius: 10px;
        border: 1px solid #DFE4EA;
    }
    .frofile_Tab{
        display: flex;
        flex-direction: column;
        padding-top: 70px;
        justify-self: center;
    }
}
/* ------------------FAQ----------------- */

.faq{
    margin-top: 100px;
    width: 100%;
    height: auto;
    padding-top: 80px;
    background-color: #FBFBFB;
    padding-bottom: 70px;
}
.faq_qs{
    width: 100%;
    padding: 0 25%;
}
.faq_qs-content .bar{
    display: inline-flex;
    flex-direction: column;
    width: 50px;
}
.faq_qs-content{
    display: inline-block;
    align-items: center;
    text-align: center;
}


.faq_qs-content #title_1{
    display: block;
}
.faq_qs-content #title_2{
    display: none;
    font-size: 0.8rem;
}

.faq_qs-content h1{
    font-weight: 700;
    font-size: 42px;
    padding-bottom: 15px;
}
.faq_qs-content p{
    font-weight: 500;
    font-size: 18px;
    opacity: 0.8;
    padding-bottom: 60px;
    line-height: 150%;
}

.qs-item{
    position: relative;
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 40px;
    border-radius: 13px;
    margin-bottom: 25px;

}

.droop-item{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.qs-item img{
    width: 50px;
    height: 50px;
}

.droop-item label{
    font-weight: 700;
    font-size: 24px;
}


.item-dnw{
    display: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    opacity: 0.7;
    padding-right: 10px;
    margin-top: 20px;
    transition: all 0.6s ease;
}


.toggle-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: #fff;
    border: none;
    padding: 5px;
    font-size: 40px;
    line-height: 1;
    cursor: pointer;
}
.toggle-btn i{
    color: #000;
}

.down{
    display: block;
}
.up{
    display: none;
}
.up{
    color: #70B64D;
}


@media screen and (max-width: 400px){
    .faq{
        margin-top: 3rem;
        padding-top: 60px;
        padding-bottom: 70px;
    }
    .faq_qs{
        width: 100%;
        padding: 0 5%;
    }
    .qs-item{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center ;
        padding: 1rem;
        border-radius: 0.6rem;
        margin-bottom: 1rem;    
    }
    .qs-item img{
        position: absolute;
        top: 1rem;
        left: -10px;
        width: 1.5rem;
        height: 1.5rem;
    }

    .droop-item label{
        font-size: 1.1rem;
    }
    .qs-item button{
        display: none;
    }
    .qs-item span{
        display: block;
        font-size: 0.9rem;
        text-align: start;
    }
    .faq_qs-content #title_1{
        display: none;
    }
    .faq_qs-content #title_2{
        display: block;
    }

}



/* FOOTER */


.footer_top{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 35% 22% 23% 20%;
    background-color: #2A2A35;
    padding: 60px 145px 60px 190px;
    grid: 20px;
}



.item_footer-top #item-top,li{
    color: var(--bg-color);
}

.item_footer-top #item-top{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
}
.item_footer-top .content{
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: var(--bg-color);
}

.containerr{
    width: 100%;
    max-width: 400px;
    height: auto;
}


.item_footer-top ul li,.phone{
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: var(--bg-color);
}
.item_footer-top .phone strong{
    font-weight: 300;
    color: #70B64D;
} 

.item_footer-top .icon_footer{
    margin-top: 35px;
}
.item_footer-top .icon_footer img{
    padding-right: 10px;
}
.item_footer-top .icon_footer img:hover{
    color: rgba(3, 5, 2, 0.5);
    cursor: pointer;
}
.item_footer-top #two{
    display: none;
}
.icon_footer{
    display: block;
}

#footer-second{
    display: none;
    padding-bottom: 2rem;
}

.item_footer-top .email-btn{
    width: 100%;
    height: 2rem;
    display: grid;
    grid-template-columns: 80% 10%;
    justify-content: center;
    border: 1px;
    border-radius: 7px;
    background-color: var(--bg-color);
}
.item_footer-top .email-btn #text-btn{
    background-color: var(--bg-color);  
    font-size: 1rem;
    color: #000;
}

.item_footer-top .email-btn .btn-email{
    background-color: var(--bg-color);
    font-size: 20px;
    color: #307CFF;
}



@media screen and (max-width: 400px){
    .footer_top{
        display: flex;
        padding: 1.1rem;
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .item_footer-top{
        width: 100%;
    }
    .containerr{
        width: 100%;
        height: auto;
    }
    #item-top{
        margin-top: 2.5rem;
    }
    .item_footer-top ul li,.phone{
        font-weight: 400;
        font-size: 0.6rem;
        line-height: 30px;
        color: var(--bg-color);
    }
    .item_footer-top #two{
        display: block;
        font-weight: 400;
        font-size: 0.6rem;
    }
    .item_footer-top #one{
        display: none;  
    }
    .item_footer-top .icon_footer, .phone{
        display: none;
    }
    #footer-second{
        display: block;
    }
}

.item_footer-top .item{
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-dnw{
    display: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    opacity: 0.7;
    padding-right: 10px;
    margin-top: 20px;
    transition: all 0.6s ease;
}

.toggle-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: #fff;
    border: none;
    padding: 5px;
    font-size: 40px;
    line-height: 1;
    cursor: pointer;
}
.toggle-btn i{
    color: #000;
}

.down{
    display: block;
}
.up{
    display: none;
}
.up{
    color: #70B64D;
}


/* Bottom */

.footer_bottom{
    width: 100%;
    padding: 20px;
    background-color: #424249;
}

.footer_bottom #bottom_item{
    display: flex;
    width: 100%;
    color: var(--bg-color);
    justify-content: center;
    text-align: center;
    letter-spacing:2px;
    padding: 1.5rem;
    font-size: 0.7rem;
    font-weight: 300;
}
#bottom_1{
    display: block;
}
#bottom_2{
    display: none;
}
@media screen and (max-width: 400px) {
    #bottom_1{
        display: none;
    }
    #bottom_2{
        display: block;
    }
}